@import "./header.css";
@import "./home.css";
@import "./about.css";
@import "./skills.css";
@import "./projects.css";
@import "./contact.css";
@import "./footer.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #f7f1f5;
  color: #093c60;
}

h1:hover {
  text-decoration: underline 6px #2ecc71;
}